:root {
    --name-tag: #348498;
    --generic: #f01414;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    table-layout: fixed;
    width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/* highlighting */
pre { line-height: 125%; }

/* chroma highlighting */
/* Background */ .bg { background-color: inherit; }
/* PreWrapper */ .chroma { background-color: inherit; }

/* custom styles */
#copy_icon {
    float: right;
    height: 0.9rem;

    cursor: pointer;
}

#copy_icon:active {
    background-color: #999999;
}

.highlight {
    background: inherit;
}

body {
    line-height: 1.1rem;
    font-family: 'Libre Baskerville', serif;
}

a {
    color: inherit;
}

pre, code {
    font-size: 14px;
    line-height: 20px;
    /* font-family: 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace; */
    font-family: 'Roboto Mono', monospace;
}

code {
    white-space: pre;
    background-color: #fafafa;
}

tr:hover > td.code:not(.empty) {
    filter: brightness(95%);
}

table {
    border-collapse: collapse;
}

tr {
    height: 1.2rem;
    margin: 0;
}

.docs { 
    padding-right: 1.5rem;
}

.docs p:first-child::before {
    content: "• ";
}

.docs p:not(:first-child) {
    padding-top: .75rem;
}

.code:not(.empty) {
    background-color: #fafafa;
}

td {
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0px;
    
    vertical-align: top;

    font-size: 14px;
}

h1 {
    margin-bottom: 20px;
    font-size: large;
}

h1 > a {
    text-decoration: none;
}

div.main_container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

div.container {
    background-color: #f1f8ff;
    padding: 15px;
}

div.main_container.index {
    width: 500px;
}

a.internal_link {
    text-decoration: underline dotted black;
}

.index p {
    margin-bottom: 2rem;
}

.index li {
    font-size: smaller;
}

.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(179, 179, 179);
}

#examples-list li {
    margin: 3px;
}
