<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <link href="site.css" rel="stylesheet">
</head>
<body>
<div class="main_container index">
<div class="container">
    <h1><a href="index.html">GitHub Actions by Example</a></h1>
    <p>GitHub Actions is a convenient CI/CD service provided by GitHub.</p>
    <p><span style="font-style: italic">GitHub Actions by Example</span> is an introduction to the service through annotated examples.</p>
    <ul>
    {{range .}}
        <li><a class="internal_link" href="{{.Id}}.html">{{.Name}}</a></li>
    {{end}}
    </ul>
</div>
<p class="footer">By <a href="https://macintoshpie.github.io">Ted Summer</a> | <a href="https://github.com/macintoshpie/ghactionsbyexample">Source</a> | Inspired by <a href="https://gobyexample.com">Go by Example</a></p>
</div>
</body>
</html>
